.Form {
  max-width: 460px;
  min-width: 360px;
  padding: 40px 30px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.02), 0px 32px 64px rgba(44, 39, 56, 0.04);
  border-radius: 24px;

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 34px;
    line-height: 44.2px;
    font-weight: 700;
    color: #2c2738;
  }

  &__registered {
    margin-bottom: 59px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #2c2738;
  }

  &__link {
    color: #0880ae;
    text-decoration: none;
  }
}
